<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="styles/style.css">
</head>
<body>
<div th:insert="~{parts/navigation::navigation}"></div>
<h1>This is home page</h1>
<form method="get" action="/books">
  <input name="login" type="text" placeholder="Enter login">
  <input name="email" type="email" placeholder="Enter email">
  <input type="submit" value="Show books">
</form>
<div th:insert="~{parts/footer :: footer}"></div>
</body>
</html>